<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestion des Classes</title>
    <link rel="stylesheet" th:href="@{/css/class.css}">
</head>
<body>

<h1>Gestion des Classes</h1>

<a th:href="@{/classes/nouveau}">
    <button>Ajouter une classe</button>
</a>

<a th:href="@{/professeurs/}">
    <button>Voir tous les professeurs</button>
</a>

<table th:if="${!classes.isEmpty()}">
    <tr>
        <th>Nom</th>
        <th>Niveau</th>
        <th>Matière</th>
        <th>Professeur</th>
        <th>Nombre d'élèves</th>
    </tr>

    <tr th:each="classe : ${classes}">
        <td th:text="${classe.nom}"></td>
        <td th:text="${classe.niveau}"></td>
        <td th:text="${classe.matiere}"></td>

        <td>
            <a th:href="@{/professeurs/{id}(id=${classe.professeur.id})}"
               th:text="${classe.professeur.prenom + ' ' + classe.professeur.nom}">
            </a>
        </td>

        <td th:text="${classe.nombreEleves}"></td>
        <td>
            <a th:href="@{/classes/{id}/modifier(id=${classe.id})}">
                <button>Modifier</button>
            </a>
            <a th:href="@{/classes/{id}/supprimer(id=${classe.id})}">
                <button>Supprimer</button>
            </a>
        </td>
    </tr>
</table>

<p th:if="${classes.isEmpty()}">Aucune classe pour le moment.</p>

</body>
</html>