/*osnova cele stranice, dodaje prostor oko sadrzaja*/
body {
    background-color: #f5f0e6;
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

/*odvaja dugmad od ostatka sadrzaja i centrira ih*/
.actions {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

/*izgled prozora formilara*/
form {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: 0 auto 20px auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/*za polja u formularu*/
.form-group {
    margin-bottom: 15px;
}

/*natpisi iznad polja*/
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/*polja zauzimaju celu povrsinu, zaobljeni uglovi, bela pozadina*/
input.form-input,
select.form-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    box-sizing: border-box;
}

/*dugmad*/
button {
    background-color: #4a90e2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #357ab8;
}


a button {
    background-color: #4a90e2;
}

/*kartice sa informacijama profesora, redjaju se jedna pored druge, uvek su centrirane*/
.classes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

/*kartica profesora*/
.classe-card {
    background-color: #e0e0e0;
    padding: 15px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/*podaci u kartici*/
.classe-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}


.classe-row .label {
    font-weight: bold;
}

/*dugmad u kartici profesora*/
.classe-actions {
    margin-top: 10px;
    text-align: center;
}

.classe-actions button {
    padding: 8px 12px;
    margin-right: 5px;
}

/*dugme na profesora*/
.classe-row a {
    color: #4a90e2;
    text-decoration: none;
}

.classe-row a:hover {
    text-decoration: underline;
}


