<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulaire Professeur</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<h1>Formulaire Professeur</h1>

<h3 th:if="${professeur.id == null}">Créer un nouveau professeur</h3>
<h1 th:if="${professeur.id != null}">Modifier le professeur</h1>

<form th:object="${professeur}"
      th:action="${professeur.id == null ? '/professeurs/nouveau' : '/professeurs/' + professeur.id + '/modifier'}"
      method="post">

    <label>Nom :</label>
    <input type="text" th:field="*{nom}" required /><br/>

    <label>Prénom :</label>
    <input type="text" th:field="*{prenom}" required /><br/>

    <label>Email :</label>
    <input type="email" th:field="*{email}" required /><br/>

    <button type="submit">Enregistrer</button>
    <a th:href="@{/professeurs/}">
        <button type="button">Annuler</button>
    </a>
</form>

</body>
</html>