<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulaire Professeur</title>
    <link rel="stylesheet" th:href="@{/css/prof.css}">
</head>
<body>

<h1>Formulaire Professeur</h1>

<h3 th:if="${professeur.id == null}">Créer un nouveau professeur</h3>
<h1 th:if="${professeur.id != null}">Modifier le professeur</h1>

<form th:object="${professeur}"
      th:action="${professeur.id == null ? '/professeurs/nouveau' : '/professeurs/' + professeur.id + '/modifier'}"
      method="post">

    <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text"  id="nom"
               class="form-input"
               th:field="*{nom}"
               required />
    </div>

    <div class="form-group">
        <label for="prenom">Prénom</label>
        <input type="text"
               id="prenom"
               class="form-input"
               th:field="*{prenom}"
               required />
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="email"
               id="email"
               class="form-input"
               th:field="*{email}"
               required />
    </div>

    <button type="submit">Enregistrer</button>
    <a th:href="@{/professeurs/}">
        <button type="button">Annuler</button>
    </a>

</form>

</body>
</html>