<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestion des Professeurs</title>
    <link rel="stylesheet" th:href="@{/css/prof.css}">
</head>
<body>

<h1>Gestion des Professeurs</h1>

<div class="actions">
    <a th:href="@{/professeurs/nouveau}">
    <button>Ajouter un professeur</button>
    </a>

    <a th:href="@{/classes/}">
    <button>Voir toutes les classes</button>
    </a>
</div>

<div class="classes-container" th:if="${!professeurs.isEmpty()}">

    <div class="classe-card" th:each="professeur : ${professeurs}">

        <div class="classe-row">
            <span class="label">Nom :</span>
            <span th:text="${professeur.prenom + ' ' + professeur.nom}"></span>
        </div>

        <div class="classe-row">
            <span class="label">Email :</span>
            <span th:text="${professeur.email}"></span>
        </div>

        <div class="classe-row">
            <span class="label">Nombre de classes :</span>
            <span th:text="${professeur.classes.size()}"></span>
        </div>


        <div class="classe-actions">
            <a th:href="@{/professeurs/{id}(id=${professeur.id})}"><button>Détail</button></a>

            <a th:href="@{/professeurs/{id}/modifier(id=${professeur.id})}"><button>Modifier</button></a>

            <a th:href="@{/professeurs/{id}/supprimer(id=${professeur.id})}"><button>Supprimer</button></a>
        </div>


    </div>
</div>

<p th:if="${professeurs.isEmpty()}">Aucun professeur pour le moment.</p>

</body>
</html>